* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nvl.two{
    display: none;
}
.nvl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

i{
    font-size: 60px;
    background-color: transparent !important;
}

h1 {
    color: #222;
    margin-top: 20px;
    margin-bottom: 10px;
}
p {
    color: #333;
    font-size: 17px;
    margin-bottom: 20px;
}

.neutralArea {
    width: 740px;
    gap: 5px;
    padding-left: 25px;
    padding-right: 25px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: 2px solid #333;
}
.item {
    width: 110px;
    height: 107px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}
.item.dragging {
    opacity: 0.5;
}
.areas {
    width: auto;
    gap: 5px;
    padding-left: 25px;
    padding-right: 25px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 17px;
}
.areas.correct .area {
    border: 2px solid #00FF00;
}
.area {
    width: 110px;
    height: 110px;
    border: 2px dashed #333;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #222;
}
.hover {
    border-color: rgb(167, 167, 6);
    color:  rgb(167, 167, 6);
}
footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}
.endGame{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(66, 108, 243);
    padding: 40px 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #222;
}
.winner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.endGame h2{
    color: #e3e3e3;
    font-size: 22px;
}
.endGame h1{
    color: #e3e3e3;
    margin-bottom: 20px;
}
.endGame i{
    font-size: 60px;
    color: gold;
}
.endGame button{
    border: none;
    background-color: #069806;
    color: #ccc;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 50px;
    text-transform: uppercase;
    box-shadow: 1px 1px 5px #222;
}